body {
    font-family: "Lato", sans-serif !important;
    color: #040404;
    background: #fafafa;
    font-weight: normal;
}

body * {
    box-shadow: none !important;
    box-sizing: border-box;
}

a {
    color: inherit;
}

.btn.btn-danger {
    background-color: #cc2c31;
    border: none;
}

th {
    font-weight: bold;
}

th a {
    font-weight: bold;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    margin: 0;
}

.navbar .navbar-nav .dropdown-menu-right {
    border: 1px solid #ddd;
}

.table > thead > tr > th {
    font-weight: bold;
}

.main-panel > .navbar, .navbar.navbar-transparent {
    background: #fff !important;
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar {
    background-color: #cc2c31;
    border-right: 1px solid #ddd;
}

.sidebar .logo {
    padding-bottom: 0;
    padding-top: 0;
    background-color: #fff;
}

.card {
    border: 1px solid #ddd;
}

.card-icon {
    padding: 10px !important;
}
.card-title{
    font-weight: bold;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    background-color: #cc2c31;
}

.sidebar .sidebar-wrapper {
    background-color: #cc2c31;
}

.sidebar .sidebar-wrapper * {
    color: #fff !important;
}

.main-panel > .content {
    margin-top: 30px;
}

.sidebar .logo .simple-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sidebar .logo .simple-text img {
    display: block;
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #cc2c31 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.navbar .notification {
    background-color: #cc2c31;
}
.input-group-addon .material-icons {
    font-size: 45px !important;
    margin-left: -4px;
}
/* Pagination 
.pagination > li > a
{
    background-color: white;
    color: rgb(0, 162, 255);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: rgb(0, 162, 255) !Important;
    border: solid 1px rgb(0, 162, 255) !Important;
}

.pagination > .active > a:hover
{
    background-color: rgb(0, 162, 255) !Important;
    border: solid 1px rgb(0, 162, 255);
    color: white;
}

.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    color: #ffffff;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}


.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

/* Form Fields */
/* .form-control, label, input::placeholder {
    display: table-column !important;
} */

.sidebar .nav li.active>a {
    background-color: red !important;

}
.bmd-form-group:not(.has-success):not(.has-danger) [class^='bmd-label'].bmd-label-floating, .bmd-form-group:not(.has-success):not(.has-danger) [class*=' bmd-label'].bmd-label-floating {
    color: #AAAAAA;
    display: block;
    position: relative;
}
