html,
body {
    height: 100%;
    background-color: #f0f0f0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #ddd;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 5px;
    font-size: 18px;
}

.navbar-brand>img {
    width: 150px;
}

.panel-info>.panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.panel-info {
    border-color: #E7E7E7;
}

.panel-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 32px;
    color: inherit;
}

.panel-body {
    padding: 40px;
}

.card-body {
    padding: 10px 40px 40px;
}

.card-body-inner {
    padding: 20px;
    background-color: #fff;
}

.panel-heading {
    padding: 10px 40px;
}

.card-header {
    padding: 10px 40px;
}

.form-control {
    display: block;
    width: 100%;
    height: 55px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FAFAFA;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

@media only screen and (max-width: 600px) {
    .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
        margin: 10px 0;
        border-radius: 5px;
    }
    .navbar-brand {
        float: left;
        height: auto !important;
        padding: 0 10px !important;
        font-size: 18px;
        line-height: 20px;
    }
    .navbar-collapse {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #C61F24;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #C61F24;
}

.navbar-inverse .btn-link:hover {
    color: #C61F24;
}

.btn-primary {
    color: #fff;
    background: #C61F24;
    border-color: #C61F24;
}

.p-login .img {
    position: relative;
}

.img-cover {
    overflow: hidden;
}

.img-cover img {
    max-width: 100%;
}

.d-lg-block {
    display: block !important;
}

.p-0 {
    padding: 0 !important;
}

.p-login .img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.h-100 {
    height: 100% !important;
}

.row-home {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
    .py-md-5 {
        padding-top: 6rem !important;
        padding-bottom: 3rem !important;
    }
}

.navbar-inverse .btn-link {
    color: #000;
}

.grid-view {
    background-color: #fff;
    padding: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #cc3034;
}

.navbar-inverse .navbar-toggle {
    border-color: #cb272c;
}

.area-members .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
}

.area-members .list+.featured-item {
    margin-bottom: 30px;
}

.area-members .list .txt {
    padding: 25px;
    background-color: #fff;
    border-bottom: 2px solid #cb282d;
}

.area-insight .site-sec-wrap {
    display: grid;
    grid-gap: 30px;
}

.area-insight-meta a {
    color: #135663;
    font-weight: bold;
}

.area-insight-meta .wrap-authors {
    padding-right: 15px;
}

.area-insight-meta .article-download {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;
    padding-right: 15px;
}

.area-insight-meta .article-download-link {
    color: #fff;
    background: #135663;
    font-weight: normal;
}

.area-insight-sidebar ul {
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;
}

.area-insight-sidebar li {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.area-insight-sidebar a {
    display: block;
    color: inherit;
}

.area-insight-content h2,
.area-insight-content h3,
.area-insight-content h4,
.area-insight-content h5 {
    line-height: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.area-insight-content img {
    display: block;
    object-fit: contain;
}

.area-insight-content a {
    color: #135663;
    text-decoration: underline;
}

.area-insight-content p {
    padding-bottom: 15px;
}

.area-insight-content .wrap-authors {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.area-insight-content .wrap-authors h3 {
    margin-bottom: 15px;
}

.area-insight-content .wrap-authors p {
    margin-bottom: 15px;
}

.area-insight-content .wrap-authors p+.link-btn {
    margin-top: 15px;
}

.area-insight-content .wrap-authors a {
    font-weight: bold;
    color: #135663;
    text-decoration: unset;
}

.area-insight-related .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    margin-top: 30px;
}

.area-insight-related .list-item .txt {
    padding: 25px;
}

.area-members ul {
    margin: 30px 0 0 0;
    padding: 0;
}

.area-members ul li {
    list-style: none;
}

@media (min-width: 600px) {
    .area-members .list {
        grid-template-columns: repeat(2, 1fr);
    }
    .area-members .list+.featured-item {
        margin-bottom: 50px;
    }
    .area-insight-related .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .list-item-img-txt-sided {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .list-item-img-txt-sided.flipped {
        flex-flow: row-reverse;
    }
    .list-item-img-txt-sided .txt {
        width: 50%;
    }
    .list-item-img-txt-sided .txt h3 {
        font-size: 26px;
    }
    .list-item-img-txt-sided .img {
        width: 50%;
        height: auto;
        max-height: unset;
    }
    .area-members .list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
    .area-members .list+.featured-item {
        margin-bottom: 80px;
    }
}

@media (min-width: 1000px) {
    .list-item-img-txt-below .img {
        height: 200px;
    }
    .list-item-img-txt-below .txt {
        padding: 50px;
    }
    .list-item-img-txt-sided .txt {
        padding: 80px 7.3206442167%;
    }
    .list-item-img-txt-sided .txt h3 {
        font-size: 36px;
    }
    .list-item-img-txt-sided .img {
        min-height: 250px;
    }
    .list-item-img-bg-txt a {
        padding: 50px;
    }
    .list-item-img-bg-txt .txt {
        padding-top: 100px;
    }
}

.list-item-img-txt-below a:hover {
    box-shadow: 0 0 25px #ddd;
}

.list-item-img-txt-below a {
    display: block;
    width: 100%;
    height: auto;
    color: inherit;
}

.list-item-img-txt-below a:hover {
    box-shadow: 0 0 25px #ddd;
}

.list-item-img-txt-below .img {
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
}

.list-item-img-txt-below .txt {
    padding: 25px;
}

.list-item-img-txt-below .category {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.list-item-img-txt-below .title {
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Gambetta-Medium";
    line-height: 1.1em;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-inverse .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-inverse .container::before, .navbar-inverse .container::after {
    display: none;
}

@media (max-width: 700px) {
    .navbar-inverse .container .navbar-header {
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse;
        flex-grow: 1;
    }
    .navbar-inverse .container .navbar-header::before, .navbar-inverse .container .navbar-header::after {
        display: none;
    }
    .navbar-inverse .container .navbar-collapse {
        position: absolute;
        top: 51px;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 25px;
    }
    .navbar-inverse .container .navbar-collapse.in {
        display: block;
    }
    .navbar-inverse .container .navbar-collapse::before, .navbar-inverse .container .navbar-collapse::after {
        display: none;
    }
    .navbar-inverse .container .navbar-collapse ul {
        width: 100%;
        margin: 0;
    }
}
